<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="libs/swal.css">
		<title>Toyunda Manager</title>
	</head>
	<body>
		<h1>TOYUNDA MANAGER</h1>
		<div id="app">
			<div class="panel">
				<div id="draft_panel">
					<h2> BROUILLON </h2>
					<input class="button" type="button" v-on:click="draft_shuffle()" value="Mélanger" v-bind:disabled="draft_panel_disabled">
					<input class="button" type="button" v-on:click="draft_transfer()" value="Transférer >" v-bind:disabled="draft_panel_disabled">
					<div id="draft_list">
						<div v-for="(entry,index) in draft">
							<p>
								{{ entry.formatted_name }}
							</p>
							<div class="draft_command_panel_single">
								<input type="button" v-on:click="draft_transfer_beginning(index)" value="Transférer au début">
								<input type="button" v-on:click="draft_transfer_single(index)" value="Transférer">
								<input type="button" v-on:click="draft_delete(index)" value="✖">
								<input type="button" v-on:click="draft_el_up(index)" value="▴">
								<input type="button" v-on:click="draft_el_down(index)" value="▾">
							</div>
						</div>
					</div>
				</div>
				<div id="playlist_panel">
					<h2> EN COURS </h2>
					<div id="current_plus_playlist">
						<p v-if="currently_playing" id="currently_playing">
							{{now_playing}}
						</p>
						<p v-else id="currently_playing">
							<b>Aucune musique en cours</b>
						</p>
						<div id="playlist">
							<div v-for="(entry,index) in playlist">
								<div v-on:click="queue_delete_at(index)">✖</div>
								<p>{{ entry.formatted_name }}</p>
							</div>
						</div>
					</div>
				</div>
				<div id="commands">
					<h2> COMMANDES </h2>
					<input class="button" type="button" v-on:click="play_next()" v-bind:value="play_next_value" v-bind:disabled="play_next_disabled">
					<input class="button" type="button" v-on:click="stop_current()" value="Stop" v-bind:disabled="stop_button_disabled">
					<br />
					<input v-model="announcement_message" placeholder="Annonce"> 
					<input class="button" type="button" v-on:click="send_announcement()" value="Envoyer" v-bind:disabled="announcement_button_disabled">
					<br />
					<input class="button" type="button" v-on:click="pause_after_next()" value="Pause avant prochain">
					<input class="button" type="button" v-on:click="toggle_subtitles()" value="Basculer sous-titres">
					<br />
					<input class="button bg_red" type="button" v-on:click="quit()" value="Quitter">
					<input class="button bg_red" type="button" v-on:click="quit_on_finish()" value="Quitter à la fin de la liste">
				</div>
			</div>
			<input placeholder="Recherche" v-model.trim="search" type="text" class="mainsearch">
			<table class="listing">
				<thead>
					<th>Musique</th><th>Artiste</th><th>Média</th><th>Année</th><th>Actions</th>
				</thead>
				<tbody>
					<tr v-for="entry in filtered_list" v-on:click="add_to_draft(entry)">
						<td>{{entry.formatted_name}}</td>
						<td>{{entry.song_info.artist}}</td>
						<td>{{entry.song_info.media_type}}</td>
						<td>{{entry.song_info.year}}</td>
						<td class="entry_actions">
							<input class="button playlist_entry_button" type="button" v-on:click.stop="add_to_queue(entry)" value="+Playlist"><input class="button playlist_entry_button" type="button" v-on:click.stop="add_to_draft(entry)" value="+Brouillon">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<script type="text/javascript" src="libs/vue.js"></script>
		<script type="text/javascript" src="libs/swal.js"></script>
		<script type="text/javascript" src="js/utils.js"></script>
		<script type="text/javascript" src="js/toyunda-manager.js"></script>
	</body>
</html>
