<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="libs/swal.css">
		<title>Toyunda Manager</title>
	</head>
	<body>
		<h1>TOYUNDA MANAGER</h1>
		<div id="app">
			<input class="button" type="button" v-on:click="play_next()" v-bind:value="play_next_value" v-bind:disabled="play_next_disabled || !connected">
			<input class="button" type="button" v-on:click="stop_current()" value="Stop" v-bind:disabled="stop_button_disabled || !connected">
			<input class="button bg_red" type="button" v-on:click="quit()" value="Quitter" v-bind:disabled="!connected">
			<input class="button bg_red" type="button" v-on:click="quit_on_finish()" value="Quitter à la fin de la liste" v-bind:disabled="!connected">
			<br />
			<input class="button" type="button" v-on:click="pause_after_next()" value="Pause avant prochain" v-bind:disabled="!connected">
			<input class="button" type="button" v-on:click="toggle_subtitles()" value="Basculer sous-titres" v-bind:disabled="!connected">
			<input v-model="announcement_message" placeholder="Annonce" v-bind:disabled="!connected">
			<input class="button" type="button" v-on:click="send_announcement()" value="Envoyer" v-bind:disabled="announcement_button_disabled || !connected">
			<div class="panel">
				<div id="draft_panel">
					<h2> BROUILLON </h2>
					<input class="button" type="button" v-on:click="draft_shuffle()" value="Mélanger" v-bind:disabled="draft_panel_disabled">
					<input class="button" type="button" v-on:click="draft_transfer()" value="Transférer >" v-bind:disabled="draft_panel_disabled || !connected">
					<span v-if="draft_duration != null" style="float:right;padding-right:4px">Durée : <b>{{ draft_duration }}</b></span>
					<div id="draft_list">
						<div v-for="(entry,index) in draft" class="queue_element">
							<div class="draft_element_panel">
								<input type="button" class="button small" v-on:click="draft_transfer_beginning(index)" value="Transférer au début" v-bind:disabled="!connected"><input type="button" class="button small" v-on:click="draft_transfer_single(index)" value="Transférer" v-bind:disabled="!connected"><input type="button" class="button small" v-on:click="draft_delete(index)" value="✖"><input type="button" class="button small" v-on:click="draft_el_up(index)" value="▴"><input type="button" class="button small" v-on:click="draft_el_down(index)" value="▾">
							</div>
							<span>
								{{ entry.formatted_fullinfo }}
							</span>
						</div>
					</div>
				</div>
				<div>
					<div v-if="connected" id="playlist_panel">
						<h2> EN COURS </h2>
						<input class="button" type="button" v-on:click="clear_queue()" value="Vider la liste" v-bind:disabled="play_next_disabled">
						<span v-if="playlist_duration != null" style="float:right;padding-right:4px">Durée : <b>{{ playlist_duration }}</b></span>
						<div id="current_plus_playlist">
							<div v-if="currently_playing" id="currently_playing" class="queue_element">
								<span>
									{{now_playing}}
								</span>
							</div>
							<div v-else id="currently_playing" class="queue_element">
								</span><b>Aucune musique en cours</b></span>
							</div>
							<div id="playlist">
								<div v-for="(entry,index) in playlist" class="queue_element">
									<div class="closebtn" v-on:click="queue_delete_at(index)">✖</div>
									<span>
										{{ entry.formatted_fullinfo }}
									</span>
								</div>
							</div>
						</div>
					</div>
					<div v-else id="disconnected">
						<h1>Déconnecté</h1>
						Connexion au Player interrompue
					</div>
				</div>
			</div>
			<input placeholder="Recherche" v-model.trim="search" type="text" class="mainsearch">
			<table class="listing">
				<thead>
					<th>Musique</th><th>Artiste</th><th>Média</th><th>Année</th><th>Durée</th><th>Actions</th><th>Dernière<br />Lecture</th>
				</thead>
				<tbody>
					<tr v-for="entry in filtered_list" v-on:click="add_to_draft(entry)">
						<td>{{entry.formatted_name}}</td>
						<td>{{entry.song_info.artist}}</td>
						<td>{{entry.song_info.media_type}}</td>
						<td>{{entry.song_info.year}}</td>
						<td>{{entry.human_duration}}</td>
						<td class="entry_actions">
							<input class="button playlist_entry_button" type="button" v-on:click.stop="add_to_queue(entry)" value="+Playlist">
						</td>
						<td>{{entry.human_last_played}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<script type="text/javascript" src="libs/vue.js"></script>
		<script type="text/javascript" src="libs/swal.js"></script>
		<script type="text/javascript" src="js/utils.js"></script>
		<script type="text/javascript" src="js/toyunda-manager.js"></script>
	</body>
</html>
